body {
  background-color: #9d2121;
  text-align: center;
  color: white;
}

.titulo {
	margin: 10%;
	color: black;
	font-size: 56; 
	text-align:center
}

.boton {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;	
}

.lbl {
	text-align: center;
	margin-right: 30px;
	font-size: 30;
}

p {
  color: white;
}